<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>品优购商品详情页面</title>
  <link rel="stylesheet" href="../lib/mui/css/mui.css">
  <link rel="stylesheet" href="../lib/mui/fonts/mui.ttf">
  <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css">
  <link rel="stylesheet" href="../styles/css/goodDetail.css">
</head>

<body>
  <div class="layout">
    <header id="header" class="mui-bar mui-bar-nav">

      <h1 class="mui-title">商品详情</h1>
      <button class="mui-action-back mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left"><span
          class="mui-icon mui-icon-left-nav"></span>返回</button>
    </header>
    <div class="pygviews">
      <div class="mui-scroll-wrapper">
        <div class="mui-scroll ">
          <!--轮播图部分-->
          <div class="mui-slider ">
            <div class="mui-slider-group mui-slider-loop bannerlist">

            </div>
            <div class="mui-slider-indicator indilist">

            </div>
          </div>
          <!-- 商品描述 -->
          <div class="goodsdesc">
            
          </div>
          <!-- 商品列表详情 -->
          <div class="list">
            <div class="mui-content">
              <div style="padding: 10px 10px;">
                <div id="segmentedControl" class="mui-segmented-control">
                  <a class="mui-control-item mui-active" href="#item1">
                    图文详情
                  </a>
                  <a class="mui-control-item" href="#item2">
                    规格参数
                  </a>
                </div>
              </div>
              <div>
                <div id="item1" class="mui-control-content mui-active">
                  
                </div>
                <div id="item2" class="mui-control-content circlparam">
                  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="footer">
      <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item " href="javascript:;">
          <span class="mui-icon  mui-icon-weixin"></span>
          <span class="mui-tab-label">客服</span>
        </a>
        <a class="mui-tab-item mui-active" href="javascript:;">
          <span class="mui-icon mui-icon mui-icon-phone"></span>
          <span class="mui-tab-label">联系我们</span>
        </a>
        <a class="mui-tab-item" href="javascript:;">
          <input type="button" class="mui-btn mui-btn-danger" value="立即购买">
        </a>
        <a class="mui-tab-item" href="./cart.html">
          <input type="button" class="mui-btn mui-btn-warning" value="加入购物车">
        </a>
      </nav>
    </div>
  </div>
</body>
<!-- 渲染轮播图 -->
<script type='text/template' id='bannerTemp'>
  <!--支持循环，需要重复图片节点-->
       <div class="mui-slider-item mui-slider-item-duplicate"><a
           href="goodDetail.html?pics_id={{pics[pics.length-1].pics_id}}"><img
             src="{{pics[pics.length-1].pics_mid_url}}" /></a></div>
             {{each pics value index}}
       <div class="mui-slider-item"><a href="goodDetail.html?pics_id={{value.pics_id}}"><img
             src="{{value.pics_mid_url}}" /></a></div>
       {{/each}}
       <!--支持循环，需要重复图片节点-->
       <div class="mui-slider-item mui-slider-item-duplicate"><a href="goodDetail.html?pics_id={{pics[0].pics_id}}"><img
             src="{{pics[0].pics_mid_url}}" /></a></div>   
</script>
<!-- 渲染小圆点 -->
<script type='text/template' id='indiTemp'>
  {{each pics value index}}
       <div class="mui-indicator {{index==0?'mui-active':''}}"></div>
       {{/each}} 
</script>
<!-- 渲染商品文字价格描述 -->
<script type='text/template' id='textTemp'>
     <div class="tx">{{goods_name}}</div>
     <h3>￥{{goods_price}}</h3>
     <ul>
       <li><span>已选</span><span>白色</span></li>
       <li><span>送至</span><span>北京市</span></li>
       <li><span>已选</span><span>白色</span></li>
       <li><span>已选</span><span>白色</span></li>
     </ul>
</script>
<!-- 渲染商品详情 -->
<script type='text/template' id='shopdesc'>
   {{@goods_introduce}}
</script>
<!-- 商品参数渲染 -->
<script type='text/template' id='attrTemp'>
  {{each attrs value index}}
  <div class="text">
    <div class="one">{{value.attr_name.split('-')[0]}}</div>
    <div class="two"><span>{{value.attr_name.split('-')[1]}}</span><span>{{value.attr_value}}&nbsp;&nbsp;{{value.attr_vals}}</span></div>
  </div>
  {{/each}}
</script>
<script src='../lib/zepto/zepto.js'></script>
<script src='../lib/mui/js/mui.min.js'></script>
<script src='../lib/arttemplate/template-web.js'></script>
<script src='../lib/iscroll/iscroll.js'></script>
<script src='../styles/js/common.js'></script>
<script src='../styles/js/goodDetail.js'></script>



</html>