<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>品优购订单页面</title>
  <link rel="stylesheet" href="../lib/mui/css/mui.css">
  <link rel="stylesheet" href="../lib/mui/fonts/mui.ttf">
  <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css">
  <style>
    .layout {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }

    .header {
      height: 50px;
    }

    .pygviews {
      margin-top: 50px;
      flex: 1;
      position: relative;
    }

    .footer {
      height: 50px;
    }
  </style>

</head>

<body>
  <div class="layout">
    <header id="header" class="mui-bar mui-bar-nav">

      <h1 class="mui-title">订单</h1>
      <button class="mui-action-back mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left"><span
          class="mui-icon mui-icon-left-nav"></span>返回</button>
    </header>
    <div class="pygviews">
      <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
          <!--订单部分-->
          <div style="padding: 10px 10px;">
            <div id="segmentedControl" class="mui-segmented-control">
              <a class="mui-control-item mui-active" href="#item1">
                全部
              </a>
              <a class="mui-control-item" href="#item2">
                待发货
              </a>
              <a class="mui-control-item" href="#item3">
                待付款
              </a>
            </div>
          </div>
          <div>
            <div id="item1" class="mui-control-content mui-active">
                
                <!-- <div class="mui-row" style="background: #fff;padding:10px;">
                  <div class="mui-col-xs-9">GD20190410000000000331</div>
                  <div class="mui-col-xs-3">￥1900</div>
                  <div style="font-size: 14px;margin-top:15px;color:red;">广东省广州市天河区吉山幼儿园</div>
                </div> -->
                
              <div class="mui-scrollbar mui-scrollbar-vertical">
                <div class="mui-scrollbar-indicator"
                  style="transition-duration: 0ms; display: block; height: 26px; transform: translate3d(0px, 0px, 0px) translateZ(0px);">
                </div>
              </div>
            </div>
            <div id="item2" class="mui-control-content">
             
            </div>
            <div id="item3" class="mui-control-content">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item " href="../index.html">
          <span class="mui-icon mui-icon-home"></span>
          <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item mui-active" href="./category.html">
          <span class="mui-icon mui-icon-list"></span>
          <span class="mui-tab-label">分类</span>
        </a>
        <a class="mui-tab-item" href="./cart.html">
          <span class="fa fa-shopping-cart"></span>
          <div class="mui-tab-label" style='font-size: 12px'>购物车</div>
        </a>
        <a class="mui-tab-item" href="./user.html">
          <span class="mui-icon mui-icon-contact"></span>
          <span class="mui-tab-label">我的</span>
        </a>
      </nav>
    </div>
  </div>
</body>
<script type='text/template' id='item1Temp'>
{{each data value index}}
<div class="mui-row" style="background: #fff;padding:10px;">
  <div class="mui-col-xs-9">{{value.order_number}}</div>
  <div class="mui-col-xs-3">￥{{value.order_price}}</div>
  <div style="font-size: 14px;margin-top:15px;color:red;">{{value.consignee_addr}}</div>
</div>
{{/each}}
</script>
<script type='text/template' id='itemtwo'>
   <div class="mui-row" style="background: #fff;padding:10px;">
     <div class="mui-col-xs-9">{{order_number}}</div>
     <div class="mui-col-xs-3">￥{{order_price}}</div>
     <div style="font-size: 14px;margin-top:15px;color:red;">{{consignee_addr}}</div>
   </div>
</script>
<script type='text/template' id='itemthree'>
  <div class="mui-row" style="background: #fff;padding:10px;">
     <div class="mui-col-xs-9">{{order_number}}</div>
     <div class="mui-col-xs-3">￥{{order_price}}</div>
     <div style="font-size: 14px;margin-top:15px;color:red;">{{consignee_addr}}</div>
   </div>
</script>
<script src='../lib/zepto/zepto.js'></script>
<script src='../lib/mui/js/mui.min.js'></script>
<script src='../lib/arttemplate/template-web.js'></script>
<script src='../lib/iscroll/iscroll.js'></script>
<script src='../styles/js/common.js'></script>
<script src='../styles/js/order.js'></script>
</html>