<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>品优购用户页面</title>
  <link rel="stylesheet" href="../lib/mui/css/mui.css">
  <link rel="stylesheet" href="../lib/mui/fonts/mui.ttf">
  <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css">
  <style>
    .layout {
      display: flex;
      width: 100vw;
      height: 100vh;
      flex-direction: column;
    }

    .header {
      height: 50px;
    }

    .pygviews {
      padding: 50px 10px 0;
      flex: 1;
    }

    .footer {
      height: 50px;
    }
  </style>

</head>

<body>
  <div class="layout">
    <header id="header" class="mui-bar mui-bar-nav">
      <h1 class="mui-title">个人中心</h1>
      <button class="mui-action-back mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left"><span
          class="mui-icon mui-icon-left-nav"></span>返回</button>
    </header>
    <div class="pygviews">
      
    </div>
    <div class="footer">
      <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item " href="../index.html">
          <span class="mui-icon mui-icon-home"></span>
          <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item mui-active" href="./category.html">
          <span class="mui-icon mui-icon-list"></span>
          <span class="mui-tab-label">分类</span>
        </a>
        <a class="mui-tab-item" href="./cart.html">
          <span class="fa fa-shopping-cart"></span>
          <div class="mui-tab-label" style='font-size: 12px'>购物车</div>
        </a>
        <a class="mui-tab-item" href="./user.html">
          <span class="mui-icon mui-icon-contact"></span>
          <span class="mui-tab-label">我的</span>
        </a>
      </nav>
    </div>
  </div>
</body>
<script src='../lib/zepto/zepto.js'></script>
<script src='../lib/mui/js/mui.min.js'></script>
<script src='../lib/arttemplate/template-web.js'></script>
<script src='../lib/iscroll/iscroll.js'></script>
<script src='../styles/js/common.js'></script>
<script src='../styles/js/user.js'></script>

</html>